.hangman{
    font-family: "Audiowide", sans-serif;
    margin-top: 10vh;
    margin-bottom: 50vh;   
}
.score-hangman{
    font-family: "Audiowide", sans-serif;
    margin-bottom: 5vh;
    text-align: center;
    justify-items: center;
}
.score-hangman h1{
    text-align: center;
}
.letters-container{
    text-align: center;
    border-bottom: 2px black;
    margin-bottom:50px;
    margin-right:10%;
    margin-left:10%;
    background-color: purple;
    padding:20px;
    border-radius:20px;
    width:auto;
   

}
.input-guess{
    text-align: center;
    font-family: "Audiowide", sans-serif;
    
    padding: 5px;
}
.submitting{
    padding-top: 20px;
}
.input-submit{
    padding: 5px 20px;
    text-align: center;
    transition: 0.5s;
    border: solid 2px black;
    background-color:purple;

}
.input-submit:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.feedback h3{
    text-align: center;
    padding-top: 5vh;
}

.hello{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.one-word{
    color: white;
    margin: 10px;
    padding: 10px;
    border: solid 2px black;
    background-color: purple;
}