@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* The navigation bar */
.navbar-header{
  padding-left: 10px;
}
.nav{
  padding: 10px;
}
.navbar{
  color: white;
  background-color: purple;
}

.lines {
  display: flex;
  margin: 0;

  flex-grow: 1;
}
.lines .box-sm {
  flex-grow: 1;

  transition: all 0.5s ease-in-out;
}

.lime {
  background-color: pink;
}

.orange {
  background-color: orchid;
}

.green {
  background-color: green;
}

.yellow {
  background-color: greenyellow;
}

.lines .box-sm:hover {
  flex-grow: 10;
}

.logo-image{
  width: 20%;
  height: 20%;
  border-radius: 20px;
  overflow: hidden;
}

h5{
  font-family: "Audiowide", sans-serif;
  font-style: bold;
}

.score{
  background-color: rgb(35,35,35);
  padding:10%;
  border-radius:9px;
  
}
li{
  display:inline-block;
  margin: 15px;
  padding:10px;
  border-radius: 15px;
  white-space:nowrap;
}

