 html{
  background-color:bisque ;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
}
.all{
  width: 100vw;
  background-color: bisque;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #ECB390
}

.navbar{
  color: white;
  background-color: purple;
}


/* The Icons  */
 .icon-bar{
  position: fixed;
  top: 30%;
}

.icon{
  border-radius: 0px 20px 20px 0;
  background-color: #DD4A48;
  color: white;
  padding: 16px;
  margin-top: 20px;
  text-align: center;
  font-size: larger;
  transform: translateX(-80%); 
  transition: 0.6s;
  width: 200px;
}
.icon h5{
  transition: 0.6s;
  opacity: 0;
}
.icon:hover{
  transform: translateX(0);
  cursor: pointer;
}
.icon:hover h5{
  opacity: 1;
}

.icon .text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon .text .ic{
 font-size: large;
}
.icon .text #game{
  transform: translateX(-8px);
}
.icon .text .home-text{

  transform: translateX(20px);
  
}
.icon .text #home{
  transform: translateX(5px);
}
.icon .text #about-us{
  transform: translateX(5px);
}

#show-games{
  padding: 16px 0 16px 0;
}
.icon .all-games p{
  margin: 0;
  padding: 10px;
  transition: 0.4s;
}
.icon .all-games p:hover{
  color:  azure;
  text-shadow: #DD4A48;
  background-color: #ECB390;
 
  text-shadow: 4px 4px 0px rgba(163, 163, 163, 0.36);
}

.all-games{
  transition: 1s;
}


/* The game display */
 .game{
  border: solid 2px solid;
  width: 90%; 
} 

.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #c23866;
  color: #fff;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

a img{
  width:8%;
  height:10%;
  padding: 10px;
}









