html {
  background-color: bisque;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  color: white;
  background-color: purple;
}

a img {
  width: 8%;
  height: 10%;
  padding: 10px;
}
